import os

DEBUG = True

SQLALCHEMY_DATABASE_URI = os.environ.get(
    'DATABASE_URL', 'postgres://scoda:scoda@localhost/data-explorer'
)

REDIS_URL = os.environ.get('REDIS_URL', 'redis://localhost:6379')

TESTING = False
SQLALCHEMY_TRACK_MODIFICATIONS = False
CSRF_ENABLED = True

SECRET_KEY = os.environ.get('SECRET_KEY', 'secret')

# Flask-Security config
SECURITY_URL_PREFIX = "/user"
SECURITY_PASSWORD_HASH = "sha256_crypt"
SECURITY_PASSWORD_SALT = "sha256_crypt"

# Flask-Security features
SECURITY_RECOVERABLE = True
SECURITY_CHANGEABLE = True
SECURITY_REGISTERABLE = True
SECURITY_SEND_REGISTER_EMAIL = False

# SENTRY
SENTRY_ENV = os.environ.get('SENTRY_ENV', 'development')
SENTRY_SAMPLER = float(os.environ.get('SENTRY_SAMPLER', '1'))
SENTRY_DSN = os.environ.get('SENTRY_DSN', '')
